.about-item{
  width: 80%;
  height: auto;
  background: #f6f6f6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color:#FFF;
  font-size: 18px;
  margin:3%;
}

.about-item-title-container{
  width: 100%;
  height: 47px;
  background: rgba(255, 96, 96, 1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-item-title{
  font-size:24px;
  margin-left:15px;
}

.about-item-icon{
  height: 24px;
  margin-right: 20px;
}
.open{
  transform: rotate(180deg)
}

.about-item-describe-container{
  width: 100%;
  height: auto;
  background: #F6F6F6;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-item-describe{
  display: flex;
  flex-direction: column;
  color:rgba(255, 96, 96, 1);
  font-size:24px;
  margin: 15px;
  margin-top:20px;
}
@media screen and (max-width:376px) {
    .about-item{
      width: 100%;
      margin:3%;
    }

    .about-item-title-container{
      height: 30px;
    }

    .about-item-title{
      font-size:13px;
      margin-left:10px;
    }

    .about-item-icon{
      height: 13px;
    }

    .about-item-describe{
      font-size:12px;
      margin: 10px;
      margin-top:15px;
    }
}