.banner{
  display: flex;
  flex-direction: row;
}

.banner-nav{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position:absolute;
  right:10px;
  top:0;
}

.banner-nav-elem{
  color:#FF6060;
  font-weight: 500;
  padding:10px;
  margin: 10px;
}