.body-error{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 82vh;
  width: 100%;
  max-width: 1240px;
  margin:auto;
  margin-top: 43px;
  color:#FF6060;
  text-align:center;
}

.code-error{
  margin:0;
  margin-top:50px;
  font-size: 288px;
  font-weight: 700;
  width: 100%;
}

.subtitle{
  margin:0;
  font-size: 36px;
  font-weight: 500;
  width: 100%;
}

.suggest{
  margin: 0;
  margin-top:100px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  color:#FF6060;
}

@media screen and (max-width:376px){
    .body-error{
      width: 90%;
    }

    .code-error{
      font-size: 96px;
    }

    .subtitle{
      font-size: 18px;
    }

    .suggest{
      font-size: 14px;
    }
}