.footer{
  background-color: #000000;
  color:#FFF;
  font-size: 24px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-logo{
color: black;
width: 122px;
height: 40px;
margin-top: 66px;
}

.footer-text{
  height: 46px;
  display: flex;
  align-items: flex-end;
  margin: 29px;
}
@media screen and (max-width:376px) {
  .footer{
    font-size: 12px;
    margin-top: 20px;
  }

  .footer-logo{
  margin-top: 40px;
  }

  .footer-text{
    margin: 0;
    margin-bottom: 40px;
  }
}